{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" 
style="background-color: #bebebe; color:white; 
            padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5"> عرض التقارير</h1>
  </div>
</div>
{{end}}
<div class='text-right'>
  <h3>*******: المرشح</h3>

  <h4> منطقة: اجمالي/الحالي</h4>
</div>
<div class="row  justify-content-center" dir='rtl' >

 <div class="col-xl-3 col-sm-6 py-2">
      <div class="card bg-success text-white h-100">
          <div class="card-body bg-success">
              <div class="rotate">
                  <i class="fa fa-user fa-4x"></i>
              </div>
              <h6 class="text-uppercase">صندوق رقم ()</h6>
              <h1 class="display-4">134/1200</h1>
          </div>
      </div>
  </div>

  <div class="col-xl-3 col-sm-6 py-2">
      <div class="card bg-success text-white h-100">
          <div class="card-body bg-success">
              <div class="rotate">
                  <i class="fa fa-folder fa-4x"></i>
              </div>
              <h6 class="text-uppercase">صندوق رقم ()</h6>
              <h1 class="display-4">134/1200</h1>
          </div>
      </div>
  </div>

  <div class="col-xl-3 col-sm-6 py-2">
      <div class="card bg-success text-white h-100">
          <div class="card-body bg-success">
              <div class="rotate">
                  <i class="fa fa-user fa-4x"></i>
              </div>
              <h6 class="text-uppercase">صندوق رقم ()</h6>
              <h1 class="display-4">134/1200</h1>
          </div>
      </div>
  </div>
</div>
{{=boxs}}