{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" 
    style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">برنامج إدارة الانتخابات</h1>
  </div>
</div>
{{end}}

<div class="row">
  <div class="col-md-12">
  
    <div class="jumbotron jumbotron-fluid" style="padding:30px;word-wrap:break-word;" dir='rtl'>
      <div class="container center">
        <a class="btn btn-primary" href="{{=URL('default','manage')}}">
          <i class="fa fa-cog"></i>
         إدارة البرنامج
        </a>
        <a class="btn btn-secondary" 
            href="{{=URL('default','elect_result')}}">إضافة النتائج</a>
        <a class="btn btn-secondary" href="{{=URL('default','user',args='register')}}">إضافة مستخدم جديد</a>
        <a class="btn btn-secondary" href="{{=URL('default','user',args='login')}}">تسجيل دخول</a>
      </div>
    </div>
    
  </div>
</div>



