{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">ادارة البرنامج</h1>
    <h6> اضافة وتعديل وحذف البيانات</h6>
  </div>
</div>
{{end}}

<div class="row justify-content-center">
    <div class="col-md-4 col-sm-10 mt-2" >
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">بيانات المناطق والاقسام</h5>
              <p class="card-text">اضافة وتعديل </p>
              <a href="{{=URL('grid',args='department')}}" class="btn btn-primary">فتح  </a>
            </div>
          </div>
    </div>
    <div class="col-md-4 col-sm-10 mt-2" >
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">بيانات الصندوق</h5>
              <p class="card-text">اضافة وتعديل بيانات الصناديق</p>
              <a href="{{=URL('grid',args='box')}}" class="btn btn-primary">فتح   </a>
            </div>
          </div>
    </div>
    <div class="col-md-4 col-sm-10 mt-2" >
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">اسم المرشحين</h5>
              <p class="card-text">إضافة وتعديل</p>
              <a href="{{=URL('grid',args='person')}}" class="btn btn-primary">فتح  </a>
            </div>
          </div>
    </div>
    <div class="col-md-4 col-sm-10 mt-2" >
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"> بيانات المرشحين</h5>
              <p class="card-text">إضافة رقم وتاريخ الترشيح</p>
              <a href="{{=URL('grid',args='elect_info')}}" class="btn btn-primary">فتح</a>
            </div>
          </div>
    </div>
    <div class="col-md-4 col-sm-10 mt-2" >
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"> تعديل النتائج</h5>
              <p class="card-text">تعديل النتائج عند وجود خطأ ادخال</p>
              <a href="{{=URL('grid',args='elect_number')}}" class="btn btn-primary">فتح</a>
            </div>
          </div>
    </div>
</div>